region="us-east-1"
vpc="vpc-0e9c06b034cb48c59"
listener-arn-80="arn:aws:elasticloadbalancing:us-east-1:892867301607:listener/app/funnel/836b05ab8cd77bb5/09b99b7146caf82f"
listener-arn-443="arn:aws:elasticloadbalancing:us-east-1:892867301607:listener/app/funnel/836b05ab8cd77bb5/364e915bd34c02c0"
priority={{ alb_priority }}
domainame="{{ domain_name }}"
ecs_cluster_id="arn:aws:ecs:us-east-1:892867301607:cluster/funnel"
image_name="{{ docker_image }}"
ecs_service_rolearn="arn:aws:iam::892867301607:role/terraformecsServiceRole"
desire_count={{ desire_count }}
WORDPRESS_DB_PASSWORD="{{ db_password }}"
WORDPRESS_DB_NAME="{{ user_id }}"
WORDPRESS_DB_HOST="{{ db_endpoint }}:3306"
WORDPRESS_DB_USER="{{ user_id }}"
FUNNEL_USER="{{ user_id }}"
ZONE_ID="{{ zone_id }}"
alb_name="funnel-267257551.us-east-1.elb.amazonaws.com"
