image_name="{{ docker_image }}"
ecs_service_rolearn="arn:aws:iam::892867301607:role/terraformecsServiceRole"
desire_count={{ desire_count }}
WORDPRESS_DB_PASSWORD="{{ db_password }}"
WORDPRESS_DB_NAME="{{ user_id }}"
WORDPRESS_DB_HOST="{{ db_endpoint }}:3306"
WORDPRESS_DB_USER="{{ user_id }}"
FUNNEL_USER="{{ user_id }}"